
<div class="main-body">
       <div class="container">
               <div class="row">
                    <div class="col-lg-10 col-md-8  col-xl-12">
                        <div class="card">
                             <div class="heading">
                                   <h4>List of all contacts</h4>
                             </div>
                              <br/>
                              <div class="table-responsive-sm table-responsive-md table-responsive-lg">
                                  <table class="table">
                                      <thead class="thead-dark">
                                           <tr>
                                                 <th>Firstname</th>
                                                 <th>Lastname</th>
                                                 <th>Email</th>
                                                 <th>Mobile</th>
                                                 <th>Status</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                           <tr>
                                                 <td>John</td>
                                                 <td>Doe</td>
                                                 <td>john@example.com</td>
                                                 <td>955865656565</td>
                                                 <td>Active</td>
                                          </tr> 
                                      </tbody>
                                  </table>
                             </div>


                        </div>
                     </div>
               </div>
       </div>
</div>