<div class="main-body">
       <div class="container">
               <div class="row">
                    <div class="cpl-sm-12 col-lg-12 col-md-12  col-xl-12">
                        <div class="card">
                            <div class="heading">
                                <h3>Page Not Found</h3>
                            </div>
                            <br/>
                            <div class="alert alert-danger">Oops ! something went wrong</div>
                         </div>    
                    </div>
               </div>
         </div>
</div>
