
<div class="main-body">
       <div class="container container-height">
               <div class="row">
                    <div class="col-lg-10 col-md-8  col-xl-12">
                        <div class="card">
                             <div class="heading">
                                   <h4>Delete contacts</h4>
                             </div>
                              <br/>
                              <div *ngIf="emptyList" class="alert alert-danger gutter-space"><strong>Warning ! </strong>Contact List is Empty. Nothing to delete.</div>
                              <div class="table-responsive-sm table-responsive-md table-responsive-lg" *ngIf="!emptyList">
                                  <table class="table">
                                      <thead class="thead-dark">
                                           <tr>
                                                <th>Id</th>
                                                 <th>Firstname</th>
                                                 <th>Lastname</th>
                                                 <th>Email</th>
                                                 <th>Mobile</th>
                                                 <th>Status</th>
                                                 <th> </th> 
                                          </tr>
                                      </thead>
                                      <tbody>
                                           <tr *ngFor="let data of datalist">
                                                 <td>{{data.id}}</td>
                                                 <td>{{data.firstName}}</td>
                                                 <td>{{data.lastName}}</td>
                                                 <td>{{data.email}}</td>
                                                 <td>{{data.mobile}}</td>
                                                 <td>{{data.status}}</td>
                                                 <td><button class="btn btn-danger" data-toggle="modal" data-target="#myModal" (click)="deleteDetails(data.email)">Delete</button></td>
                                          </tr> 
                                      </tbody>
                                  </table>
                             </div>


                        </div>
                     </div>
               </div>
       </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Are you sure want to delete this detail ?</h4>
          <button type="button" class="close" data-dismiss="modal">X</button>
        </div>
        <div class="modal-body">
          <p>Selected contact will be deleted permanently.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deletePermanently()">Delete</button>
        </div>
      </div>
    </div>
  </div>