.header{
    background-color: #000;
}
.innerdiv{
    color: #fff;
    width: 80%;
    margin: 0 auto;
}
.topleftnav{
    width: 40%;
}
.toprightnav{
   text-align: right;
}
.toprightnav ul, .topleftnav ul{
  margin: 0rem;
  padding: 0px;
}
.toprightnav ul li, .topleftnav ul li{
  display: inline-block;
  padding: 5px;
}



.navmain{
    width: 80%;
    margin:0 auto;
}
.navmain ul{
    margin: 0rem;
    padding: 0px;
}
.navmain >ul >li{
    display:inline-block;
}
.logo{
    margin-right: 5%;
}
.navmain >ul >li .dormat-main {
    padding: 20px;
    display:inline-block;
}
.navmain >ul >li .dormat-main:hover {
    background-color: #cfcfcf;
    cursor: pointer;
    border-top: 5px limegreen solid;
    text-decoration: none;
    color: #000;
    padding-top: 15px;
}
.navmain >ul >li .dormat-main.active {
    background-color: #cfcfcf;
    cursor: pointer;
    border-top: 5px limegreen solid;
    text-decoration: none;
    color: #000;
    padding-top: 15px;
}





.footer{
    background-color: #000;
    display: block;
}
.cms-footer{
  width: 80%; 
  margin: 0 auto;
  text-align: center;
  color : #fff;
  }
.cms-footer ul li{
 padding: 10px;
}

.cms-footer ul li{
  display: inline-block;
}

.cms-footer ul li a{
  padding-right: 15px;
  color:#fff;
}








/*
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  width: auto;
  font-family: Calibri, Tahoma, Arial, sans-serif;
  line-height: 1;
}
#cssmenu > ul {
  background: lightblue;
  border-top: 5px solid #1e1e1e;
}
#cssmenu > ul > li {
  float: left;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 34px 24px 0px 24px;
  font-size: 18px;
  color:#004e44  ;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  background:lightblue;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
#cssmenu > ul > li.active > a {
  color: #004e44;
  border-bottom-color: #003e11;
  border-top-color: #459fed;

}
#cssmenu > ul > li.active{
    border-top-color: #459fed;
}

#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color:#003e11;
  font-weight: bold;
}
#cssmenu > ul > li > a::before {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 34px 24px 0px 24px;
  color: #ffffff;
  background: #1e1e1e;
  content: attr(data-title);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -ms-transform: translateY(- -18px);
}
#cssmenu > ul > li:hover > a::before,
#cssmenu > ul > li > a:hover::before {
  background: #1e1e1e;
}
#cssmenu.small-screen {
  width: 100%;
}
#cssmenu.small-screen > ul,
#cssmenu.small-screen.align-center > ul {
  width: 100%;
  text-align: left;
}
#cssmenu.small-screen > ul > li,
#cssmenu.small-screen.align-center {
  float: none;
  display: block;
  border-top: 1px solid rgba(100, 100, 100, 0.1);
}
#cssmenu.small-screen > ul > li:hover > a,
#cssmenu.small-screen > ul > li > a:hover {
  color: #ffffff;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  -ms-transform: none;
}
#cssmenu.small-screen > ul > li > a::before {
  display: none;
}
#cssmenu.small-screen #menu-button {
  display: block;
  padding: 16px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #1e1e1e;
}
#cssmenu.small-screen #menu-button:after {
  content: "";
  position: absolute;
  right: 20px;
  top: 17px;
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  width: 22px;
  height: 3px;
}
#cssmenu.small-screen #menu-button.menu-opened:after {
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}
#cssmenu.small-screen #menu-button:before {
  content: "";
  position: absolute;
  right: 20px;
  top: 27px;
  display: block;
  width: 22px;
  height: 2px;
  background: #ffffff;
}
#cssmenu.small-screen #menu-button.menu-opened:before {
  background: #ffffff;
}
